@font-face {
    font-family: "blackWidow";
    src: url("/css/fonts/blackWidow/widow.ttf");
}

@font-face {
    font-family: "glass";
    src: url("/css/fonts/glass/glass.ttf");
}

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-size: 20px;
    font-family: glass, sans-serif;
    background: url("https://pngimg.com/uploads/popcorn/popcorn_PNG61.png"), linear-gradient(0deg, rgba(252, 153, 153, 1) 0%, rgba(255, 55, 55, 1) 25%, rgba(255, 0, 0, 1) 50%, rgba(255, 55, 55, 1) 75%, rgba(252, 153, 153, 1) 100%);
}

nav {
    font-family: blackWidow, sans-serif;
    background-color: #C8BFC7;
    padding: .5em;
    margin-bottom: 1em;
    font-size: 30px;
    text-align: center;
}

/*Main Page Layouts*/
.container {
    background-color: transparent;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
}

.movie-container {
    text-align: center;
    background-color: #C8BFC7;
    max-width: calc(300px - 1em);
    margin: .5em .5em;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
}

.movie-container img {
    width: calc(300px - 1em);
    height: 450px;
    border-radius: 10px;
}

.movie-container p {
    font-family: blackWidow, sans-serif;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Create Movie Form Styles*/
.create-movie-form {
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #1495bd;
    width: 50vw;
}

.create-movie-form h1 {
    color: white;
    text-align: center;
    margin-top: 1em;
}

.create-movie-form form {
    display: flex;
    margin: auto auto;
    flex-direction: column;
    width: 50%;
}

.create-movie-form form input, .create-movie-form form select {
    margin: 1em 0;
}

.create-movie-form form button {
    width: 50%;
    margin: 0 auto 1em;
}

#close-form {
    position: absolute;
    right: 10px;
    border: none;
    background: none;
}

/*Individual Movie Information Panel Styles*/
#movie-info {
    background-color: #1495bd;
    position: absolute;
    top: 25%;
    left: 15%;
    width: 75%;
    z-index: 10;
}

/*Hidden and Overlay Styles*/
.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
